{% if include.is_home %}
	<h2 class="home-featured-content-section__header">
{% else %}
	<p><img class="tout__avatar" src="/img/me.jpg" alt="Max Chadwick"><strong>
{%endif%}
	Hi, I'm Max!
{% if include.is_home %}
	</h2>
{% else %}
	</strong></p>
{%endif%}
<p>I'm a software developer who mainly works in <a href="{{ site.baseurl }}/tags/#php">PHP</a>, but loves dabbling in other languages like <a href="{{ site.baseurl }}/tags/#go">Go</a> and <a href="{{ site.baseurl }}/tags/#ruby">Ruby</a>. Technical topics that interest me are <a href="{{ site.baseurl }}/tags/#monitoring">monitoring</a>, <a href="{{ site.baseurl }}/tags/#security">security</a> and <a href="{{ site.baseurl }}/tags/#performance">performance</a>. I'm also a stickler for good documentation and clear technical writing.</p>

<p>During the day I lead a team of developers and solve challenging technical problems at <a href="https://www.somethingdigital.com/">Something Digital</a> where I mainly work with the <a href="{{ site.baseurl }}/tags/#magento">Magento</a> platform. I've also <a href="/talks">spoken</a> at a number of events.</p>

<p>In my spare time I <a href="{{ site.baseurl }}/blog">blog about tech</a>, <a href="https://github.com/mpchadwick">work on open source</a> and <a href="https://bugcrowd.com/mpchadwick">participate in bug bounty programs</a>.</p>

<p>If you'd like to get in contact, you can find me on <a href="https://twitter.com/maxpchadwick">Twitter</a> and <a href="https://www.linkedin.com/in/mpchadwick/">LinkedIn</a>.</p>
