<div class="domain-clamp-ad">
    <p>
        <img src="/img/me.jpg" style="width: 20%; max-width: 80px; padding-right: 10px; float: left; border-radius: 50%;"><strong>Hi, I'm Max!</strong><br><br>
        I'm a software developer who mainly writes code in <a href="{{ site.baseurl }}/tags/#php">PHP</a>, but I've also worked a bit with <a href="{{ site.baseurl }}/tags/#ruby">Ruby</a> and <a href="{{ site.baseurl }}/tags/#go">Go</a>. Technical topics that interest me are <a href="{{ site.baseurl }}/tags/#monitoring">monitoring</a>, <a href="{{ site.baseurl }}/tags/#security">security</a> and <a href="{{ site.baseurl }}/tags/#performance">performance</a>.<br><br>
        During the day I solve challenging technical problems at <a href="https://www.somethingdigital.com/">Something Digital</a>. At night I <a href="{{ site.baseurl }}/blog">blog about tech</a>, <a href="https://github.com/mpchadwick">work on open source</a> and <a href="https://bugcrowd.com/mpchadwick">hunt for bugs</a>. I built a tool called <a href="https://domainclamp.com/">Domain Clamp</a> which monitors and alerts about expiring domains and SSL certificates.<br><br>
        If you'd like to get in touch with me the best way is <a href="https://twitter.com/maxpchadwick">on Twitter</a>.
    </p>

</div>
