{%- assign content_security_policy = "
object-src 'none'; 
script-src
 'sha256-vvPCrLhG+A7gjjErrSj/8r3DpqQQIzFB8kA1Gzo+reo='
 'sha256-Pt9SR9yU7/A5CcINmCaMyhybp2HnhX68iN3mfGaRO3Y='
 'sha256-0hjKDOio+OJ0CdOCQ8uR3V1fRlW/ZtSNS4umPUD8eRg='
 'sha256-1qDTTA+irpHkZeH2aByrG8o1hJnYW/p1l2XvY4H5VUM='
 'sha256-fpn8+IA24qTasOVhbHsVIxlwH9L2VAncsxjXjhtFyy8='
 'sha256-jYts2qdrV4S840pHgysLmyNu6dh7+BwrvqepHJG/ahE='
 'strict-dynamic'
 'unsafe-inline'
 'unsafe-eval'
 http:
 https:
" -%}

<meta http-equiv="Content-Security-Policy" content="{{ content_security_policy | strip_newlines }}">