<div class="home-social__wrapper">
    <ul>
        <li>
        <a href="https://github.com/mpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#github"></use>
            </svg>
        </a>
        </li>
        <li>
        <a href="https://twitter.com/maxpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#twitter"></use>
            </svg>
        </a>
        </li>
        <li>
        <a href="https://www.linkedin.com/in/mpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#linkedin"></use>
            </svg>
        </a>
        </li>
    </ul>
</div>
