<div class="social-links">
    <ul>
        <li>
        <a href="https://github.com/mpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#github"></use>
            </svg>
            <span class="visuallyhidden">GitHub</span>
        </a>
        </li>
        <li>
        <a href="https://twitter.com/maxpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#twitter"></use>
            </svg>
            <span class="visuallyhidden">Twitter</span>
        </a>
        </li>
        <li>
        <a href="https://www.linkedin.com/in/mpchadwick">
            <svg viewBox="0 0 100 100" width="40" height="40">
                <use class="social-icon" xlink:href="#linkedin"></use>
            </svg>
            <span class="visuallyhidden">LinkedIn</span>
        </a>
        </li>
        <li>
        <a type="application/atom+xml" href="{{ site.url }}/feed.xml">
            <svg viewBox="0 0 300 300" width="40" height="40">
                <use class="social-icon" xlink:href="#rss"></use>
            </svg>
            <span class="visuallyhidden">RSS</span>
        </a>
        </li>
    </ul>
</div>
