.footer {
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: cadetblue;
    margin-top: 50px;

    a {
        color: gold;
    }
}
