.footer {
    padding: 9px;
    color: white;
    text-align: center;
    background-color: cadetblue;
    margin-top: 50px;

    p {
        margin-bottom: 0;
    }

    a {
        color: gold;
    }
}
