* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: Georgia, serif;
    background-color: floralwhite;
}
a {
    text-decoration: none;
    color: cornflowerblue;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, p, pre, blockquote, ul, ol {
    margin-bottom: 1em;
}
h1, h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}
h2 {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif
}
ul, ol {
    margin-left: 25px;
}
li {
    margin-bottom: 0.25em;
}
ul > li > ul {
    margin-left: 35px;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
p, blockquote {
    line-height: 1.4rem;
}
pre {
    white-space: nowrap;
    padding: 10px;
    overflow-x: auto;

    code {
        white-space: pre;
    }
}
blockquote {
    margin-left: 25px;
    border-left: 5px solid orange;
    padding-left: 15px;
}
.clear {
    clear: both;
}
.caption {
    font-style: italic;
    color: gray;
}
*[id] {
  padding-top: 40px;
  margin-top: -40px;
}

#disqus_thread, #disqus_thread *, .twitter-tweet {
    padding-top: 0;
    margin-top: 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 30px
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
