.call-to-action-wrapper {
    text-align: center;
}
.call-to-action {
    display: inline-block;
    background-color: $color-button-bg-primary;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px; /* Hack to space out sections */
}
