.footer {
    padding: 9px;
    color: white;
    text-align: center;
    background-color: cadetblue;
    margin-top: 50px;
    flex: none;

    p {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
        color: gold;
    }
}
