body.home {
  background-color: $color-bg-pop;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  color: white;
  margin-top: 20px;

  .tags-list {
    margin-top: 1em;
  }
}
.home__avatar {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}
.home-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}
.home-social__wrapper {
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-social__wrapper ul {
    margin: 0;
    list-style: none;
    display: block;
}
.home-social__wrapper li {
    display: inline-block;
    float: left;
    padding-right: 10px;
}
.home-social__wrapper a:hover {
    text-decoration: none;
}
.home__header {
    font-size: 32px;
    margin-bottom: 10px;
    padding-bottom: 0em;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}
.home-menu {
    padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.home-menu__item {
    display: inline-block;
    float: left;
    padding-right: 20px;
}
.home-menu__item-link {
    color: white;
}
.home-menu li:last-child {
    padding-right: 0;
}
@media (min-width: 600px) {
    .home__header {
        font-size: 48px;
    }
}

.home-featured-content-section {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;

  .call-to-action {
    background-color: white;
    color: purple;
  }

  &__header {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2em;
  }

  &__item {
    list-style: none;
    line-height: 1.4em;
    margin-bottom: 0.8em;
  }

  &__link {
    color: $color-bg-pop-link;
    text-decoration: underline;
    &:hover {
      color: $color-bg-pop-link-hover;
    }
  }

  &__post-date {
    font-size: 0.8em;
  }

}

.social-icon {
  fill: #f7f7f7;
}
svg:hover .social-icon {
  fill: #e0e0e0;
}
