body.home {

  .tags-list {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .footer {
    margin-top: 0;
  }
}

.home-top {
  background-color: $color-bg-pop;
  color: white;
  padding-top: 15px;
  padding-bottom: 10px;
}

.home__avatar {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

.home-wrapper {
  padding-bottom: 15px;
}

.home__header {
  font-size: 32px;
  margin-bottom: 10px;
  padding-bottom: 0em;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

.home-menu {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.home-menu__item {
  display: inline-block;
  float: left;
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }
}

.home-menu__item-link {
  color: white;
}

@media (min-width: 600px) {
  .home__header {
    font-size: 48px;
  }
  body.home {
    h2 {
      font-size: 1.75em;
    }
  }
}

.home-featured-content-section {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  margin: 0 auto;

  &--blog {
    h4 {
      margin-bottom: 0;
    }
  }

  h4 a {
    color: black;
  }

  img {
    max-width: 100%;
    margin-bottom: 1em;
  }

  &__header {
    margin-bottom: 0.5em;
    margin-top: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
  }

  &__item {
    list-style: none;
    line-height: 1.4em;
    margin-bottom: 0.8em;
  }

  &__post-date {
    font-size: 0.8em;
  }

}
