.navigation-bar {
    background-color: $color-bg-pop;
    height: 24px;
    padding-top: 8px;
    padding-bottom: 5px;
    color: white;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
.navigation-bar__item {
    display: inline-block;
    float: left;
    padding-right: 20px;

    &--search {
        margin-top: 1px;
    }
}
.navigation-bar__item-link {
    color: white;
}
.navigation-bar__item-link--active {
    text-decoration: underline;
}
.navigation-bar__item-link--active:hover {
    cursor: default;
}
