.page-wrapper {
    width: 90%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    flex: 1 0 auto;
    overflow-wrap: break-word;
    word-wrap: break-word;

    .post-summary {
        margin-bottom: 30px;
    }
}
.page-wrapper h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}
.page-wrapper img:not(.emoji) {
    display: block;
    max-width: 100%;
    margin-bottom: 1em;
}
.page-wrapper h2 {
    text-align: center;

    a {
        color: black
    }
}
