.pagination {
    margin-top: 30px;
    @media (max-width: 600px) {
        text-align: center;
    }

    * {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    a.page {
        border: 1px solid #dcdcdc;
        background-color: $color-button-bg-alt;
        display: inline-block;
        margin-bottom: 0.5em;
    }
}

