.search {
    .page-wrapper {
        .search-form {
            &__wrapper {
                margin-bottom: 30px;
            }

            &__input,
            &__button {
                float: left;
                border: 1px solid #9a9a9a;
            }

            &__input {
                width: calc(100% - 51px);
                border-right: 0;
                font-size: 18px;
                font-family: Georgia, serif;
                height: 48px;
            }

            &__button {
                height: 50px;
                width: 50px;
                border-left: 0;
                border-radius: 0;
                &:hover {
                  background-color: darken(#ffffff, 5%);
                  cursor: pointer;
                }
            }
        }

        a {
            color: $color-bg-plain-link-alt;
        }

        ul {
            margin-bottom: 3em;
        }

        li {
            margin-bottom: 1em;
        }
    }
}
