.tags {
    .page-wrapper {
        /* Hack to make sure last element can still show on top */
        padding-bottom: calc(100vh - 320px);

        a {
            color: $color-bg-plain-link-alt;
        }
        ul {
            margin-bottom: 3em;
        }
        li {
            margin-bottom: 1em;
        }
    }
}
