.tags {
    .page-wrapper {
        /* Hack to make sure last element can still show on top */
        padding-bottom: 500px;

        a {
            color: purple;
        }
        ul {
            margin-bottom: 3em;
        }
        li {
            margin-bottom: 1em;
        }
    }
}
