.tout {
    background-color: deeppink;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    display: block;
    border-left: 10px solid brown;

    p {
        margin-bottom: 0;
        line-height: 1.3rem;
    }

    a {
        color: yellow;
        text-decoration: underline;

        &:hover {
            background-color: darksalmon;
        }
    }
    &__avatar {
      width: 20%;
      max-width: 80px !important;
      padding-right: 10px;
      float: left;
      border-radius: 50%;
      margin-bottom: 0;
    }
}
