.tout {
    background-color: $color-bg-pop;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    display: block;
    border-left: 10px solid brown;

    p {
      line-height: 1.3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-bg-pop-link;
      text-decoration: underline;

      &:hover {
        color: $color-bg-pop-link-hover;
      }
    }

    &--alt {
      background-color: $color-bg-subtle;
      color: black;
      border-left: 10px solid #c1c1c1;
    }

    &--secondary {
      background-color: #e3daff;
      color: black;
      border-left: 10px solid purple;

      a {
        color: purple;

        &:hover {
          color: darken(purple, 5%);
        }
      }
    }

    &__avatar {
      width: 20%;
      max-width: 80px !important;
      padding-right: 10px;
      float: left;
      border-radius: 50%;
      margin-bottom: 0;
    }
}
