// Background Colors
$color-bg-pop: #d62454;
$color-bg-plain: floralwhite;
$color-bg-pop-alt: cadetblue;

// Link Colors
$color-bg-pop-link: #fffca3;
$color-bg-pop-link-hover: darken($color-bg-pop-link, 15%);
$color-bg-plain-link: cornflowerblue;

