// Background Colors
$color-bg-pop: #d62454;
$color-bg-plain: floralwhite;
$color-bg-pop-alt: #436f70;
$color-bg-subtle: aliceblue;

// Link Colors
$color-bg-pop-link: #fffca3;
$color-bg-pop-link-hover: darken($color-bg-pop-link, 15%);
$color-bg-plain-link: #2d6ee6;
$color-bg-plain-link-alt: purple;

// Button BG
$color-button-bg-primary: purple;
$color-button-bg-alt: #fcfcfc;
