---
layout: page
title: Blog
isBlog: true
description: My blog. Where I write about security, performance and much more.
---
<h1>Blog</h1>

{% for post in paginator.posts %}
<div class="post-summary">
	<h2><a href="{{post.url}}">{{post.title}}</a></h2>
	<h4>Published: {{post.date | date: "%B %-d, %Y"}}</h4>
  {% if post.tags.size > 0 %}
  <div class="tags-list">
    <strong>Tags:</strong>
    <ul>
      {% for tag in post.tags %}
      <li><a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {{post.excerpt}}
	<div class="call-to-action-wrapper">
        <a class="call-to-action" href="{{post.url}}">Read more</a>
    </div>
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="page" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% endif %}

  {% assign total_minus_one = paginator.total_pages | minus: 1 %}
  {% for page in (1..paginator.total_pages) %}
    {% assign before = paginator.page | minus: page %}
    {% assign after = page | minus: paginator.page %}
    {% if page != paginator.total_pages and page != 1 and before >= 3 or after >= 3 %}
      {% continue %}
    {% endif %}
    {% if page == paginator.page %}
      <strong>{{ page }}</strong>
    {% elsif page == 1 %}
      <a class="page" href="{{ site.baseurl }}/blog">{{ page }}</a>
    {% else %}
      {% if last == 1 and page != 2 %}
        ...
      {% endif %}
      {% if page == paginator.total_pages and last != total_minus_one %}
        ...
      {% endif %}
      <a class="page" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% assign last = page %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="page" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% endif %}
</div>
{% endif %}
