---
layout: page
---
<!-- Show an image ad -->
<script async src="https://media.ethicalads.io/media/client/ethicalads.min.js"></script>
<article>
  <h1>{{ page.title }}</h1>
  <h4>Published: {{page.date | date: "%B %-d, %Y"}}</h4>
  {% if page.tags.size > 0 %}
  <div class="tags-list">
    <strong>Tags:</strong>
    <ul>
      {% for tag in page.tags %}
      <li><a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div data-ea-publisher="maxchadwick-xyzblog" class="horizontal" data-ea-type="image"></div>
  <div class="improve-link">
    :pencil2: <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">Improve this page on GitHub</a>
  </div>
  <div class="blog-post-wrapper">
    {{ content }}
    {% if page.edits.size > 0 %}
    <div class="tout tout--alt edits">
        <p><strong><em>Edits</em></strong></p>
        {% for edit in page.edits %}
        <p><strong>{{ edit.date }}</strong>: {{ edit.content }}</p>
        {% endfor %}
    </div>
    {% endif %}
  </div>
</article>
{% if page.related_posts.size > 0 %}
<hr>
<div class="related-posts tout tout--secondary">
  <h2>:books: More reading from this blog</h2>
  <p>Here are some other posts I've written that you might find interesting</p>
  <ul>
    {% for title in page.related_posts %}
      {% assign post = site.posts | where: "title", title | first %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span></li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="tout">
{% include bio.html %}
</div>
<div id="disqus_thread"></div>
<div class="call-to-action-wrapper">
    <button class="call-to-action call-to-action--large" data-disqus-loader>Load comments</a>
</div>
<noscript>
  <style>
    [data-disqus-loader] {
      display: none;
    }
  </style>
  Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
{% if page.has_tweet %}
<script src="/scripts/twitter.js" integrity="sha256-fpn8+IA24qTasOVhbHsVIxlwH9L2VAncsxjXjhtFyy8="></script>
{% endif %}
<script src="/scripts/disqus.js"></script>