<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ site.url }}/style/main.css">
    <script src="/scripts/prefixfree.min.js"></script>
    {% if page.needsPicturefill %}
    <script src="/scripts/picturefill.min.js"></script>
    {% endif %}
    {% feed_meta %}
    {% seo %}
    <meta name="theme-color" content="#d62454"/>
    <meta name="google-site-verification" content="l6xDSpQNWdivp7ROV4KoDsW4If0WC3OvFhZ0x46b8gc" />
    <meta name="msvalidate.01" content="09AF6CE80D8F0363FA3BFC5CE6386EC3" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/icons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/icons/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/icons/mstile-310x310.png" />
</head>
<body{% if page.body-class %} class="{{page.body-class}}"{% endif %}>
    {% include icons.html %}
    {{ content }}
    <div class="footer">
        <p>The entire source of this site is <a href="https://github.com/mpchadwick/mpchadwick.github.io">available on Github</a>.</p>
        <p>If there's a specific topic you're looking to read about try <a href="/search">searching</a> or <a href="/tags/">browsing by tag</a>.</p>
        {% include social-links.html %}
        <p><strong>&copy; {{ site.time | date: '%Y' }} Max Chadwick</strong></p>
    </div>
    {% if jekyll.environment == 'production' %}
      {% assign ga = site.ga.prod %}
    {% else %}
      {% assign ga = site.ga.dev %}
    {% endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ ga }}', 'auto');

      ga('send', 'pageview');

      {% if page.tags.size > 0 %}
      {% for tag in page.tags %}
        ga('send', 'event', 'taggedPost', 'view', '{{ tag }}', { nonInteraction: true });
      {% endfor %}
      {% endif %}

    </script>
</body>
</html>
